# Virtual environment
.venv/
!.venv/*.py
!.venv/requirements.txt
!.venv/Dockerfile.*
.venv/test_the_db.py
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Python cache
.ruff_cache/
.pytest_cache/

# Distribution
dist/
build/
*.egg-info/
